.section-six {
  background: hsl(250, 38%, 11%);
  display: flex;
  width: 100%;
  overflow: hidden;
  /* border: 2px solid red; */
}

.section-six .content-1 {
  /* border: 2px solid blue; */
  width: 70%;
  position: relative;
  padding-left: 20px;
  background-color: var(--logoImageSection);
  display: block;
}

.content-1 .cup-image {
  text-align: center;
  width: 100%;
  margin-top: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  padding-top: 5rem;
  /* border: 2px solid red; */
}

.cup-image img {
  width: 100%;
  max-width: 38vw;
  height: auto;
  display: block;
  margin: 0 auto;
}

.section-six .content-2 {
  /* border: 2px solid green; */
  width: 100%;
}

.section-six .content-2 .prizes-container {
  display: flex;
  /* border: 2px solid blue; */
  padding: 50px 30px 10px 5px;
  position: relative;
}

.prizes {
  display: block;
  /* border: 2px solid red; */
  height: 55vh;
  overflow: hidden;
  position: relative;
}

.prize-image {
  position: relative;
  text-align: center;
  z-index: 1;
  /* border: 2px solid orange; */
}

.prize-image img {
  width: 100%;
  max-width: 100vw;
  height: auto;
  display: block;
  margin: 0 auto;
}

.prizes:nth-child(2) {
  /* border: 2px solid green; */
  position: relative;
  top: -50px;
  height: 67vh;
  overflow: hidden;
}

.section-six .content-2 .text-content-1 h2 {
  /* font-family: Clash Display; */
  font-size: 32px;
  font-weight: 700;
  position: relative;
}

.section-six .content-2 .text-content-1 h2 span {
  display: block;
  color: #d434fe;
}

.section-six .content-2 {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.content-2 .text-content-1 {
  /* border: 2px solid #fff; */
  margin: 0 auto 0 auto;
  padding: 0 auto;
  width: 50%;
  color: #fff;
}

.content-2 .text-content-1 span {
  color: #d434fe;
}

.prizes .prizes-text {
  border: 2px solid #d434fe;
  border-radius: 5px;
  color: #fff;
  background: #150e28;
  text-align: center;
  padding: 80px 0 0 0;
  position: absolute;
  top: 36%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  pointer-events: none;
}

.prizes:nth-child(2) .prizes-text {
  padding: 80px 0 0 0;
  top: 55%;
  width: 80%;
  margin: 0 auto;
}

@media(max-width: 750px){
  .section-six {
    border: 2px solid red;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* gap: 40px; */
  }

  .section-six .star{
    display: none;
  }

  .content-1 .cup-image {
  /* text-align: center;
  width: 100%;
  margin-top: 40px; */
  /* position: relative; */
  position: relative;
  margin: 0;
  /* top: 55%; */
  padding-top: 9rem;
  border: 2px solid blue;
}

.cup-image img {
  width: 100%;
  max-width: 70%;
}

  .section-six .content-1 {
  border: 2px solid green;
  width: 100%;
  padding: 0;
}
  .section-six .content-2 {
  border: 2px solid green;
  width: 100%;
  padding: 0;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}
.section-six .content-2 .prizes-container {
  display: flex;
  border: 2px solid blue;
  padding: 50px 15px 10px 15px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.section-six .content-2 .text-content-1{
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
}

.section-six .content-2 .text-content-1 p{
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
}

}